<a href="https://colab.research.google.com/github/yubin-j/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [2]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding = 'utf-8', index=False)

## 5-2 JSON 형식 저장

In [8]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding = 'utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)
## DataFrame을 이용한 저장
df = pd.DataFrame(data)
df.to_json('output_df.json', orient='records', indent = 4, force_ascii=False)

df1 = pd.DataFrame([data])
df1.to_json('output_df_array.json', orient='records', indent = 4, force_ascii=False)

df2 = pd.DataFrame([data])
df2.to_json('output_df_array_columns.json', orient='columns', indent = 4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [13]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df

## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist())

## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [14]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [16]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df1 = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json', indent=4, force_ascii=False)


## HTML 형식으로 저장
html_table = df.to_html()
with open('students_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [19]:
import requests

api_key = ''
year = 2015
month = 1
url = f'http://openapi.seoul.go.kr:8088/{api_key}/json/energyUseDataSummaryInfo/1/5/{year}/{month:02}'

## 데이터 수집
response = requests.get(url)

## 호출 성공/실패 출력
response.json()

{'energyUseDataSummaryInfo': {'list_total_count': 7,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'YEAR': '2015',
    'MON': '01',
    'MM_TYPE': '개인',
    'CNT': '767791',
    'EUS': '193784708',
    'EUS1': '194781915',
    'EUS2': '204969429',
    'ECO2_1': '-6090964',
    'ECO2_2': '-2582568.736',
    'GUS': '59133720',
    'GUS1': '57163993',
    'GUS2': '68297619',
    'GCO2_1': '-3597086',
    'GCO2_2': '-8057472.64',
    'WUS': '12819757.886',
    'WUS1': '12723680.426',
    'WUS2': '12899476.73',
    'WCO2_1': '8179.308',
    'WCO2_2': '2715.530256',
    'HUS': '22740838.937',
    'HUS1': '23400055.303',
    'HUS2': '27090493.875',
    'HCO2_1': '-2504435.652',
    'HCO2_2': '-33660084.213069',
    'REG_DATE': '2015-06-04 17:03:55.0'},
   {'YEAR': '2015',
    'MON': '01',
    'MM_TYPE': '학교',
    'CNT': '1382',
    'EUS': '134955565',
    'EUS1': '128707423',
    'EUS2': '145561511',
    'ECO2_1': '-2178902',
    'ECO2_2': '-923854.448',
    'GUS': '9107197',
    'GUS1': '8410968',
    'GUS2': '10745416',
    'GCO2_1': '-470995',
    'GCO2_2': '-1055028.8',
    'WUS': '2075819.2',
    'WUS1': '2097433.8',
    'WUS2': '2133200.8',
    'WCO2_1': '-39498.1',
    'WCO2_2': '-13113.3692',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2015-06-04 17:03:55.0'},
   {'YEAR': '2015',
    'MON': '01',
    'MM_TYPE': '종교단체',
    'CNT': '32',
    'EUS': '372270',
    'EUS1': '363376',
    'EUS2': '411363',
    'ECO2_1': '-15099.5',
    'ECO2_2': '-6402.188',
    'GUS': '53331',
    'GUS1': '45727',
    'GUS2': '63312',
    'GCO2_1': '-1188.5',
    'GCO2_2': '-2662.24',
    'WUS': '5945',
    'WUS1': '4548',
    'WUS2': '4519',
    'WCO2_1': '1411.5',
    'WCO2_2': '468.618',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2015-06-04 17:03:55.0'},
   {'YEAR': '2015',
    'MON': '01',
    'MM_TYPE': '소상공인',
    'CNT': '2058',
    'EUS': '10249618',
    'EUS1': '9927610',
    'EUS2': '11039593',
    'ECO2_1': '-233983.5',
    'ECO2_2': '-99209.004',
    'GUS': '536119',
    'GUS1': '523810',
    'GUS2': '642921',
    'GCO2_1': '-47246.5',
    'GCO2_2': '-105832.16',
    'WUS': '147273',
    'WUS1': '146480.6',
    'WUS2': '147325.6',
    'WCO2_1': '369.9',
    'WCO2_2': '122.8068',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2015-06-04 17:03:55.0'},
   {'YEAR': '2015',
    'MON': '01',
    'MM_TYPE': '공동주택관리소',
    'CNT': '1747',
    'EUS': '327102096',
    'EUS1': '329852334',
    'EUS2': '351694752',
    'ECO2_1': '-13671447',
    'ECO2_2': '-5796693.528',
    'GUS': '22834274',
    'GUS1': '21141017',
    'GUS2': '25338506',
    'GCO2_1': '-405487.5',
    'GCO2_2': '-908292',
    'WUS': '12844807.5',
    'WUS1': '12763070',
    'WUS2': '12979835.8',
    'WCO2_1': '-26645.4',
    'WCO2_2': '-8846.2728',
    'HUS': '0',
    'HUS1': '0',
    'HUS2': '0',
    'HCO2_1': '0',
    'HCO2_2': '0',
    'REG_DATE': '2015-06-04 17:03:55.0'}]}}

## 데이터 프레임 생성

In [29]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기

data = response.json()['energyUseDataSummaryInfo']['row']
# print(type(data))
# print(len(data))
# print(data[0])
df = pd.DataFrame(data)
df['GUS']

0    59133720
1     9107197
2       53331
3      536119
4    22834274
Name: GUS, dtype: object

## 다양항 형식으로 데이터 저장

In [30]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('temp.json', indent = 4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('temp.xlsx', index=False)

## HTML 형식 데이터 저장
df.to_html('temp.html')